<!DOCTYPE html>
<html>
<head>
    <title>Question Answering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
        }

        .container {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        .form-group {
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .form-control {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Question Answering</h1>

    <form method="post">
        <label for="model_path">Model Path:</label>
        <input type="text" name="model_path" placeholder="nova-sqoin/hotel_qa_model">
        <br><br><br>
        <label for="question">Question:</label>
        <input type="text" name="question">
        <br><br><br><br>
        <button type="submit">Get Answer</button>
        <br><br><br><br><br>
    </form>
    {% if question and answer %}
    <h2>Results:</h2>
    <p>Question: {{ question }}</p>
    <p>Answer: {{ answer }}</p>
    <p>Index in Context: {{ index }}</p>
    <br><br>
    <p> ps : The answers are still not correct</p>
    {% endif %}
</body>
</html>